
/* The pure-button is being overridden by Blueviolet which is #8A2BE2 to make the text higher contrast*/
/* This is fine for google lighthouse and passes AA, but is not AAA compliant for small text, so I to be safe I made font size-larger everywhere*/
.pure-button.pure-button-primary {
  background-color: blueviolet;
}

/* I really do like the blue/green colors and since I can use them I am */
.pure-u-1-2 {
  background-color: aquamarine;
}

body {
  font-size: 150%;
  background-color: darkcyan;
}

/* This is supposed to take up start of page, since this is were all user input happens*/
/* Default sizing and look is fine but it needs to have a min-hight since data only appears after page load*/
/* Having this prevents it from needing to recalculate page looks when hight chages after data appears*/
form {
  min-height: 45vh ;
}


/*body {
  font-family: 'Courier New', Courier, monospace;
  background:black;
  color:white;
}
ul {
  list-style: none;
}
li {
  margin: 2%;
}

// This probably needs to come back, since the increaced vh for fast page loading and increaced text size bump results off bottom
#layout {
  background-color: blueviolet;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1%;
  padding: 1%;
}

.item {
  background-color: darkcyan;
  width: 44%;
  border: 2vw violet solid;
}*/